.Login_container{
    width: 50%;
    height: 50%;
    background-color: white;
    margin: auto 3rem;
    border-radius: 10px;
    padding: 2rem;
    animation-name: example;
  animation-duration: 4s;

}

.login_p_message{
    color: grey;
    text-align: center;
    margin-bottom: 2rem;
}

.login_main_image{
    width: 100%;
    height: 100vh
}

.Shopping_logo{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.labelValues{
    margin: 1rem auto;
    color: hsl(0, 1%, 44%);
}

.inputValues{
    margin-bottom: 2rem;
    padding: 0.25rem;
    width: 70%;
    border-radius: 5px;
}

.button_submit{
    padding: 0.25rem;
    background-color: transparent;
    border: 2px solid teal;
    color: teal;
    width: 30%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 18px;
}

.Contain_login{
    display: flex;
    flex-direction: row;
}

@keyframes example {
    from {opacity: 0.4}
    to {opacity: 1}
  }

@media screen and (max-width: 450px) {
    .Login_container{
        width: 90%;
        height: 90%;
        background-color: white;
        margin: auto;
        border-radius: 10px;
        padding: 2rem;
        margin-bottom: 2rem;
        animation-name: example;
      animation-duration: 4s;
      
    }

    .inputValues{
        width: 90%;
    }

    .button_submit{
        width: 30%;
   }
   .login_main_image{
    width: 100vw;
    height: 60vh;
    margin-bottom: 2rem;    
}

.Contain_login{
    display: flex;
    flex-direction: column;
}
}
 
  
