.headerMain{
    width: 100%;
    height: 8vh;
    background-color: #424242;
    border-radius: 8px;
    padding: 1rem;
    color: white;
    margin-bottom: 5vh;
}

.header_flex{
    display: flex;
    justify-content: space-between;
}

.login_icons{
    display: flex;
}

.login_icons h4{
    margin: auto 0.30rem;
    text-align: center;
}

.loading{
    color: white;
    margin: 10rem auto;
    width: 100px;
}