.actions{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.actions button{
    width: 5rem;
    background-color: rgb(230, 85, 85);
    height: 2rem;
    border-radius: 5px;
    border-color: rgb(230, 85, 85);;
    margin-left: 10px;
}

.dropdown_sort{
    margin: 2rem 1rem 0.50rem 2rem;
    width: 20%;
    height: 30px;
}

.action_button:hover {
    background-color: rgb(241, 238, 238);
    border-color: rgb(241, 238, 238);;
}

.discountPercentage{
    display: flex;
    justify-content: flex-end;
    color: rgb(113, 82, 24);
}
.rating{
    text-align: center;
    color: rgb(113, 82, 24);;
}


@media screen and (max-width: 450px) {
    
.dropdown_sort{
    margin: 2rem 1rem 0.50rem 2rem;
    width: 50%;
}
}

