.product_image{
    max-width: 100%;
    height: 25rem;
    border-radius: 10px;
}

.data_price{
    display: flex;
    justify-content: space-between;
}

.item_container{
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    height: 40vh;
    margin: 1rem;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    min-width: 30vw;
    text-align: center;
}

.image_container{
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

@media screen and (max-width: 450px) {
   .item_container{
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    min-width: 90vw;
    width: 90vw;
   }
  }

 
.image_title{
    text-transform: capitalize;
    margin: 0 auto;
    font-weight: 800;
}